<section class="section">
  <div class="container">
    <h1 class="title" id="title">Users Awaiting Approval</h1>
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th class="headers">Name</th>
          <th class="headers">Email</th>
          <th class="headers">Employee #</th>
          <th class="headers">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((user) => { %>
        <tr class="user-data">
          <td><%= user.firstname %> <%= user.lastname %></td>
          <td><%= user.email %></td>
          <td><%= user.employeeNumber %></td>
          <td>
            <span class="btn-container">
              <form
                action="/admin/approve-user/<%= user._id %>"
                method="POST"
                style="display: inline"
              >
                <button class="control-button" id="approve-btn" type="submit">
                  Approve
                </button>
              </form>
              <form
                action="/admin/delete-user/<%= user._id %>"
                method="POST"
                style="display: inline"
              >
                <button class="control-button" id="delete-btn" type="submit">
                  Delete
                </button>
              </form>
            </span>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</section>
