<section class="section">
  <div class="container">
    <h1 class="title" id="title">Users Awaiting Approval</h1>
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th class="headers">Name</th>
          <th class="headers">Email</th>
          <th class="headers">Employee #</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((user) => { %>
        <tr class="user-data">
          <td>
            <%= user.firstname %> <%= user.lastname %>
            <span class="btn-container">
              <form
                action="/admin/approve-user/<%= user._id %>"
                method="POST"
                style="display: inline"
              >
                <button
                  class="button approve-btn action-btn"
                  id="approve-btn"
                  type="submit"
                >
                  Approve
                </button>
              </form>
              <form
                action="/admin/delete-user/<%= user._id %>"
                method="POST"
                style="display: inline"
              >
                <button
                  class="button delete-btn action-btn"
                  id="delete-btn"
                  type="submit"
                >
                  Delete
                </button>
              </form>
            </span>
          </td>
          <td><%= user.email %></td>
          <td><%= user.employeeNumber %></td>
          <td></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</section>
