<%- include('../partials/header', { title: 'Admin | Approve Users', style:
'../css/admin.css'}) %>

<section class="section">
  <div class="container">
    <h1 class="title">Users Awaiting Approval</h1>
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Employee #</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((user) => { %>
        <tr>
          <td>
            <%= user.firstname %> <%= user.lastname %>
            <span class="btn-container">
              <form
                action="/admin/approve-user/<%= user._id %>"
                method="POST"
                style="display: inline"
              >
                <button class="button approve-btn action-btn" type="submit">
                  Approve
                </button>
              </form>
              <form
                action="/admin/delete-user/<%= user._id %>"
                method="POST"
                style="display: inline"
              >
                <button class="button delete-btn action-btn" type="submit">
                  Delete
                </button>
              </form>
            </span>
          </td>
          <td><%= user.email %></td>
          <td><%= user.employeeNumber %></td>
          <td></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</section>
