<p>
  You are flying along and have <%= miles %> miles to go. Your groundspeed is
  <%= groundSpeed %> knots and your fuel flow per hour is <%= fuelFlow %>
  lbs/hour. You are asked to do a present position hold. Your alternate fuel is
  <%= alternateFuel %> lbs, and your reserve fuel is standard <%= reserveFuel %>
  lbs. How much holding fuel and time do you have?
</p>
