<%- include('./partials/header', {title: 'View Notes', style:
'../css/view-notes.css'}) %>

<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">All Notes</h1>
    <% if (notes.length === 0) { %>
    <p class="subtitle has-text-centered">No notes found</p>
    <% } else { %>
    <div class="columns is-multiline">
      <% notes.forEach(note => { %>
      <div class="column is-one-third">
        <div class="card">
          <header class="card-header">
            <div
              class="card-header-title"
              style="
                display: flex;
                flex-direction: column;
                align-items: flex-start;
              "
            >
              <p><%= note.title %></p>
              <small style="font-size: 0.7rem"
                >Created on: <%= new Date(note.createdAt).toLocaleString()
                %></small
              >
            </div>
          </header>
          <div class="card-content">
            <div class="content">
              <p><%= note.content %></p>
            </div>
          </div>
          <footer class="card-footer">
            <form
              action="/notes/delete/<%= note._id %>"
              method="POST"
              class="card-footer-item"
            >
              <button class="button is-small" id="delete-button" type="submit">
                Delete
              </button>
            </form>
          </footer>
        </div>
      </div>
      <% }) %>
    </div>
    <% } %>
  </div>
</section>

<%- include('./partials/footer') %>
