<div class="container mt-4">
  <h1 class="title has-text-centered">Discussion Board</h1>

  <div class="columns">
    <div class="column">
      <div class="box has-background-light">
        <h2 class="subtitle has-text-link">Create New Thread</h2>
        <form action="/discussions" method="POST">
          <div class="field">
            <label for="title" class="label">Thread Title</label>
            <div class="control">
              <input
                type="text"
                id="title"
                name="title"
                class="input"
                required
              />
            </div>
          </div>
          <div class="field">
            <label for="content" class="label">Thread Content</label>
            <div class="control">
              <textarea
                id="content"
                name="content"
                class="textarea"
                required
              ></textarea>
            </div>
          </div>
          <div class="control">
            <button type="submit" class="button is-link">Create Thread</button>
          </div>
        </form>
        <hr class="divider" />
        <h2 class="subtitle has-text-link has-text-weight-bold mt-4">
          Recent Threads
        </h2>
        <% recentDiscussions.forEach(function(discussion) { %>
        <div class="box has-background-white-ter">
          <h4 class="title is-5 has-text-link-dark" style="margin-bottom: 5px">
            <%= discussion.title %>
          </h4>
          <p class="is-size-7 has-text-grey">
            Created by
            <span class="has-text-weight-semibold"
              ><%= discussion.user.username %></span
            >
            on
            <span class="has-text-weight-semibold"
              ><%= discussion.createdAt.toLocaleString() %></span
            >
          </p>
        </div>
        <% }); %>
      </div>
    </div>

    <div class="column">
      <div class="box has-background-light">
        <h2 class="subtitle has-text-link">Recent Discussions</h2>
        <% discussions.forEach(function(discussion) { %>
        <div class="card mb-4">
          <div class="card-content">
            <h3 class="title is-4">
              <%= discussion.title %>
              <span class="tag is-info is-light ml-2"
                ><%= discussion.comments.length %> comment(s)</span
              >
              <p class="is-size-7 has-text-grey">
                Created by <%= discussion.user.username %> on <%=
                discussion.createdAt.toLocaleString() %>
              </p>
            </h3>
            <hr />
            <p class="discussion-content"><%= discussion.content %></p>
          </div>
          <footer class="card-footer">
            <a
              href="/discussions/<%= discussion._id %>"
              class="card-footer-item"
              >View Discussion</a
            >
            <% if (user && user._id.toString() ===
            discussion.user._id.toString()) { %>
            <form
              action="/discussions/<%= discussion._id %>"
              method="POST"
              class="card-footer-item has-text-danger"
            >
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit" class="button is-text">
                Delete Thread
              </button>
            </form>
            <% } %>
          </footer>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>
