<div class="card">
  <header class="card-header">
    <div class="media">
      <figure class="media-left">
        <span class="icon is-large">
          <i class="fas fa-user fa-2x"></i>
        </span>
      </figure>
      <div class="media-content">
        <p class="card-header-title has-text-weight-bold">
          <%= discussion.title %>
        </p>
        <p class="subtitle">
          @<%= discussion.user.username %> · <%=
          discussion.createdAt.toLocaleString() %>
        </p>
      </div>
    </div>
  </header>
  <div class="card-content">
    <div class="content"><%= discussion.content %></div>
    <% if (user && user._id.toString() === discussion.user._id.toString()) { %>
    <form action="/discussions/<%= discussion._id %>/delete" method="POST">
      <button type="submit" class="button is-danger">Delete</button>
    </form>
    <% } %>
    <div class="comments mt-4">
      <% discussion.comments.forEach(function(comment) { %>
      <div class="media">
        <figure class="media-left">
          <span class="icon">
            <i class="fas fa-user"></i>
          </span>
        </figure>
        <div class="media-content">
          <p class="subtitle">
            @<%= comment.user.username %> · <%=
            comment.createdAt.toLocaleString() %>
          </p>
          <p><%= comment.content %></p>
        </div>
      </div>
      <% }); %>
    </div>
    <% if (user) { %>
    <form
      action="/discussions/<%= discussion._id %>/comments"
      method="POST"
      class="mt-4"
    >
      <div class="field">
        <label for="content" class="label">Add a Comment</label>
        <div class="control">
          <textarea
            id="content"
            name="content"
            class="textarea"
            required
          ></textarea>
        </div>
      </div>
      <div class="control">
        <button type="submit" class="button is-link">Post Comment</button>
      </div>
    </form>
    <% } %>
  </div>
</div>
