<div class="container mt-4">
  <h1 class="title has-text-centered">Discussion Board</h1>

  <div class="box has-background-light">
    <h2 class="subtitle">What's happening?</h2>
    <form action="/discussions" method="POST">
      <div class="field">
        <div class="control">
          <input
            type="text"
            id="title"
            name="title"
            class="input"
            placeholder="Thread Title"
            required
          />
        </div>
        <div class="control mt-2">
          <textarea
            id="content"
            name="content"
            class="textarea"
            placeholder="What's on your mind?"
            required
          ></textarea>
        </div>
      </div>
      <div class="control">
        <button type="submit" class="button is-link">Create Thread</button>
      </div>
    </form>
  </div>

  <div class="mt-4">
    <h2 class="subtitle">Recent Threads</h2>
    <% discussions.forEach(function(discussion) { %>
    <div class="box has-background-white-ter">
      <h4 class="title is-5 has-text-link-dark" style="margin-bottom: 5px">
        <%= discussion.title %>
      </h4>
      <p class="has-text-grey" id="comment-count"></p>
        <%= discussion.comments.length %> comment(s)
      </p>
      <p class="created-by has-text-grey">
        Created by <%= discussion.user.username %> on <%=
        discussion.createdAt.toLocaleString() %>
      </p>

      <p class="discussion-content"><%= discussion.content %></p>
      <hr />
      <footer>
        <a href="/discussions/<%= discussion._id %>">View Discussion</a>

        <% if (user && user._id.toString() === discussion.user._id.toString()) {
        %>
        <form
          action="/discussions/<%= discussion._id %>/delete"
          method="POST"
          id="delete-form"
        >
          <button type="submit" class="button is-text" id="delete-btn">
            Delete Thread
          </button>
        </form>
        <% } %>
      </footer>
    </div>
    <% }); %>
  </div>
</div>
