<%- include('../partials/header', {title: 'All Questions', styles:
'css/questions.css'}) %>
<header>
  <h1>All Questions</h1>
</header>
<main>
  <table>
    <thead>
      <tr>
        <th class="text-center">Question</th>
        <th class="text-center">Category</th>
        <th class="text-center">Answer</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% questions.forEach(function(question) { %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.category %></td>
        <td><%= question.answer %></td>
        <td class="actions">
          <button
            class="action-btn"
            onclick="location.href='/questions/<%= question._id %>/edit'"
          >
            Edit
          </button>
          <form method="post" action="/questions/<%= question._id %>/delete">
            <button class="action-btn" type="submit">Delete</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</main>
<footer><%- include('../partials/footer') %></footer>
