<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit Questions</h1>
    <% if (questions.length > 0) { %>
    <ul>
      <% questions.forEach(function(question) { %>
      <li>
        <%= question.question %> - <%= question.category %> - <%=
        question.answer %>
        <form
          method="POST"
          action="/questions/<%= question._id %>/delete"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>
        <a href="/questions/<%= question._id %>/edit">Edit</a>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No questions found.</p>
    <% } %>
  </body>
</html>
