<%- include('../partials/header', {title: 'View All Questions', style:
'../css/customquestions.css'}) %>
<section class="section">
  <h1 class="has-text-centered is-size-1-tablet">All Questions</h1>
  <div class="container">
    <p class="has-text-centered is-size-5">
      Total Questions: <%= questions.length %>
    </p>
    <br />
    <div class="table-container">
      <table
        class="table is-bordered is-striped is-hoverable is-fullwidth is-mobile-custom"
      >
        <thead>
          <tr>
            <th class="text-center">Question</th>
            <th class="text-center">Category</th>
            <th class="text-center">Answer</th>
          </tr>
        </thead>
        <tbody>
          <% questions.forEach(function(question, index) { %>
          <tr>
            <td id="questions-question">
              #<%= index +1 %> -- <%= question.question %>
            </td>
            <td id="questions-category"><%= question.category.join(', ') %></td>
            <td id="questions-answer"><%= question.answer %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
